{% extends "shop/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <div class="container">
        <div style="margin: 20px;"></div>
			<div class="row showcase-section">
				<div class="col-md-6">
					<div class="about-text">
						<h3><ya-tr-span data-index="10-0" data-type="trSpan" style="visibility: inherit !important;">Пользователь </ya-tr-span><span class="color"><ya-tr-span data-index="10-0" data-type="trSpan" style="visibility: inherit !important;">{{ request.user }}</ya-tr-span></span></h3>
					</div>
				</div>
			</div>
			<h3>Моя корзина</h3>
		</div>
	<div class="table">
		<div class="table_div">
			{% for item in cart %}
			{% with product=item.product %}
			<div class="div">
				<a class="td_a" href="{{ product.get_absolute_url }}">
					<div>{{ product.name }}</div>
					<div><img class="img" src="{{ product.image.url }}"></div>
					<div title="Количество">Кол-во: {{ item.quantity }}</div>
					<div title="Стоимость за 1 единицу">{{ item.price|currency }}</div>
					<div title="Общая стоимость">{{ item.total_price|currency }}</div>
				</a>
				<a class="td" title="Удалить" href="{% url 'cart_remove' product.id %}"></a>
			</div>
			{% endwith %}
			{% endfor %}
			<h3> Мои заказы</h3>
			{% for order in orders %}
			{% with ord=order.product %}
			<div class="div">
				<a class="td_a" href="{{ product.get_absolute_url }}">
					<div>{{ ord.name }}</div>
					<div><img class="img" src="{{ product.image.url }}"></div>
					<div title="Количество">Кол-во: {{ ord.quantity }}</div>
					<div title="Стоимость за 1 единицу">{{ ord.price|currency }}</div>
				</a>
			</div>
			{% endwith %}
			{% endfor %}
		</div>
	</div>

{% endblock content %}