{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<section class="dishes">
    <div class="container">
        <div class="search">
                    <form class="search__form">
                            <input class="search__input" name="name__icontains" id="id_name__icontains"  type="text" placeholder="Искать по названию">
                            <button type="submit" class="search__button">Поиск</button>
                    </form>
                    <div class="cart__form"><a class="waves-effect waves-dark" href="{% url 'cart_detail' %}">Корзина {{ total_items }}{{ total_items|pluralize }}
                {{ cart.get_total_price }}</a></div>
        </div>
        <div class="t1div">
            Товары категории: {{ category }}
        </div>
<!--        <div class="top__cat">-->
<!--            {% for c in categories %}-->
<!--                <a href="{{ c.get_absolute_url }}" class="cat__div"><img class="top__cat__div" src="{% static 'img/categories/е1.png' %}"><span class="span-title-cat">{{ c.name }}</span></a>-->
<!--            {% endfor %}-->
<!--        </div>-->
        <div class="moycontainer">
            {% for product in products %}
                <a href="{{ product.get_absolute_url }}" class="col-md-4 md-margin-bottom-40">
					<div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="{{ product.image.url }}" alt="">
                            <span class="card-title">{{ product.name }}</span>
                        </div>
                        <div class="card-content">
                            <p>
                                {{ product.description|truncatechars:45 }}
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

